:root {
    --background-color: #1E213F;
    --text-color: #D7E0FF;
    --accent-color: #F87070;
    --timer-background-color: #161932;
    --font: 'Kumbh Sans Variable', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font);
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
}


