:root {
    --background-color: #1E213F;
    --text-color: #D7E0FF;
    --accent-color: #F87070;
    --timer-background-color: #161932;
    --font: 'Kumbh Sans Variable', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
  padding: 2rem 0;
  min-height: 100vh;
  text-align: center;
}

nav {
  background-color: var(--timer-background-color);
  border-radius: 2rem;
  height: 3.5rem;
  margin: 3rem auto;
  padding: 0.3rem;
  width: min(20rem, 95%);
  z-index: 2;
}

nav ul {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  justify-content: space-around;
  list-style-type: none;
  height: 100%;
}

nav li {
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 32%;
}

li.active {
  background-color: var(--accent-color);
  color: var(--background-color);
}


.timer {
  background-color: var(--timer-background-color);
  border-radius: 50%;
  height: min(25rem, 95vw);
  width: min(25rem, 95vw);
  box-shadow: -50px -50px 50px #272C5A, 50px 50px 50px #121530;
}

.time-left {
  font-size: 6rem;
  font-weight: bold;
  margin-top: 35%;
}

.timer button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
}


