:root {
    --background-color: #1E213F;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  background-color: var(--background-color);
  color: #fff;
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
}


