:root {
  --background-color: #1e213f;
  --text-color: #d7e0ff;
  --timer-background-color: #161932;
  --settings-light-gray: #e3e1e1;
  --coral-color: #f87070;
  --turquoise-color: #70f3f8;
  --lilac-color: #d881f8;
  --font-sans: "Kumbh Sans", sans-serif;
  --font-serif: "Roboto Slab", serif;
  --font-mono: "Space Mono", monospace;
  --font: var(--font-sans);
  --accent-color: var(var(--coral-color));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font);
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

#root {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
  padding: 2rem 0;
  min-height: 100vh;
  text-align: center;
}

nav {
  background-color: var(--timer-background-color);
  border-radius: 2rem;
  height: 3.5rem;
  margin: 3rem auto;
  padding: 0.3rem;
  width: min(20rem, 95%);
  z-index: 0;
}

nav ul {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  justify-content: space-around;
  list-style-type: none;
  height: 100%;
}

nav li {
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 32%;
}

li.active {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.timer {
  background-color: var(--timer-background-color);
  border-radius: 50%;
  height: min(25rem, 95vw);
  width: min(25rem, 95vw);
  box-shadow:
    -50px -50px 50px #272c5a,
    50px 50px 50px #121530;
  margin-bottom: 2rem;
}

.time-left {
  font-size: 6rem;
  font-weight: bold;
  margin-top: 35%;
}

.timer-button {
  background-color: transparent;
  color: var(--text-color);
  letter-spacing: 0.7rem;
  text-transform: uppercase;
}

.timer-button:hover {
  color: var(--accent-color);
}

/* Settings button */

.settings-button {
  background-color: transparent;
  color: var(--text-color);
  margin-top: 3rem;
  width: 1.7rem;
  height: 1.7rem;
}

.settings-button svg g:hover {
  opacity: 1;
}

/* Modal */

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
}

.modal-button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 2rem;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 3rem;
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Settings */

.settings {
  background-color: #fff;
  border-radius: 1rem;
  color: var(--timer-background-color);
  width: 540px;
  text-align: left;
  position: relative;
}

.settings-heading {
  border-bottom: 1px solid var(--settings-light-gray);
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0 2rem;
  width: 100%;
}

.settings-container {
  padding: 0 3rem 2rem;
}

.settings section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.settings section.duration-section {
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}

.settings section:not(:last-child) {
  border-bottom: 1px solid var(--settings-light-gray);
}

.settings h3 {
  font-size: 0.9rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

/* Duration picker */

.timer-inputs-wrap {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.timer-inputs-wrap label {
  color: var(--settings-light-gray);
  font-size: 0.8rem;
  font-weight: bold;
}

.timer-inputs-wrap input {
  background-color: #eff1fa;
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  font-weight: bold;
  margin-top: 0.2rem;
  padding: 1rem;
  height: 48px;
  width: 140px;
}

/* Color and font picker */

fieldset {
  border: none;
  display: flex;
  gap: 1rem;
}

.radio-button {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.radio-button::before {
  border-radius: 50%;
  transition: 120ms transform ease-in-out;
}

.radio-button:hover {
  outline: 1px solid var(--settings-light-gray);
  outline-offset: 3px;
}

/* Font */

.radio-button.font-input {
  background-color: #eff1fa;
}

.radio-button.radio-button.font-input::before {
  content: "Aa";
  color: #535353;
}

.radio-button.font-input:checked {
  background-color: var(--timer-background-color);
}

.radio-button.font-input:checked::before {
  color: #fff;
}

.radio-button.font-input#kumbh-sans {
  font-family: var(--font-sans);
}

.radio-button.font-input#roboto-slab {
  font-family: var(--font-serif);
}

.radio-button.font-input#space-mono {
  font-family: var(--font-mono);
}

/* Color */

.radio-button#coral {
  background-color: var(--coral-color);
}

.radio-button#turquoise {
  background-color: var(--turquoise-color);
}

.radio-button#lilac {
  background-color: var(--lilac-color);
}

.radio-button.color-input::before {
  content: "";
  background-color: var(--timer-background-color);
  width: 1rem;
  height: 1rem;
  mask-image: url("src/assets/icons/check.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-image: url("/src/assets/icons/check.svg");
  transform: scale(0);
}

.radio-button.color-input:checked::before {
  transform: scale(1);
}
