:root {
    --background-color: #1E213F;
    --text-color: #D7E0FF;
    --accent-color: #F87070;
    --timer-background-color: #161932;
    --font: 'Kumbh Sans Variable', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
  padding: 2rem 0;
  min-height: 100vh;
  text-align: center;
}

nav {
  background-color: var(--timer-background-color);
  border-radius: 2rem;
  height: 3.5rem;
  margin: 3rem auto 2rem;
  padding: 0.3rem;
  width: min(20rem, 95%);
}

nav ul {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  justify-content: space-around;
  list-style-type: none;
  height: 100%;
}

nav li {
  border-radius: 2rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 32%;
}

li.active {
  background-color: var(--accent-color);
  color: var(--background-color);

}


