:root {
  --background-color: #1e213f;
  --text-color: #d7e0ff;
  --timer-background-color: #161932;
  --settings-light-gray: #e3e1e1;
  --font: "Kumbh Sans Variable", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
  padding: 2rem 0;
  min-height: 100vh;
  text-align: center;
}

nav {
  background-color: var(--timer-background-color);
  border-radius: 2rem;
  height: 3.5rem;
  margin: 3rem auto;
  padding: 0.3rem;
  width: min(20rem, 95%);
  z-index: 2;
}

nav ul {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  justify-content: space-around;
  list-style-type: none;
  height: 100%;
}

nav li {
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 32%;
}

li.active {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.timer {
  background-color: var(--timer-background-color);
  border-radius: 50%;
  height: min(25rem, 95vw);
  width: min(25rem, 95vw);
  box-shadow:
    -50px -50px 50px #272c5a,
    50px 50px 50px #121530;
  margin-bottom: 2rem;
}

.time-left {
  font-size: 6rem;
  font-weight: bold;
  margin-top: 35%;
}

.timer button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
}

.settings {
  background-color: #fff;
  border-radius: 1rem;
  color: var(--timer-background-color);
  width: 540px;
  text-align: left;
}

.settings-heading {
  border-bottom: 1px solid var(--settings-light-gray);
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0 2rem;
  width: 100%;
}

.settings section {
  padding: 2.5rem;
}

.settings section:not(:last-child) {
  border-bottom: 1px solid var(--settings-light-gray);
}

.settings h3 {
  font-size: 0.9rem;
  letter-spacing: 0.3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.timer-inputs-wrap {
  display: flex;
  justify-content: space-between;
}

.timer-inputs-wrap label {
  color: var(--settings-light-gray);
  font-size: 0.8rem;
  font-weight: bold;
}

.timer-inputs-wrap input {
  background-color: #eff1fa;
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  font-weight: bold;
  margin-top: 0.2rem;
  padding: 1rem;
  height: 48px;
  width: 140px;
}

/* Color Picker */

fieldset {
  border: none;
  display: flex;
  gap: 1rem;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]#coral {
  background-color: #f87070;
}

input[type="radio"]#turquoise {
  background-color: #70f3f8;
}

input[type="radio"]#lilac {
  background-color: #d881f8;
}

input[type="radio"]::before {
  content: "v";
  color: black;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:hover {
  outline: 1px solid var(--settings-light-gray);
  outline-offset: 3px;
}
